<MudDialog>
    <DialogContent>
        <div class="pa-4">
            <MudText Typo="Typo.h6" Class="mb-4">
                <MudIcon Icon="Icons.Material.Filled.CheckCircle" Class="mr-2" Color="Color.Success" />
                알림
            </MudText>
            <MudText>@Message</MudText>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close" Variant="Variant.Filled" Color="Color.Primary">확인</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    [Parameter] public string Message { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));
}
